<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="nlog-internal.log">
  <variable name="appName" value="DoorWebApp"/>
  <targets>
    <target xsi:type="File"
            name="AllLogs"
            fileName="${basedir:fixtempdir=true}/log/${appName}_${shortdate}.log"
            layout="${longdate} [${uppercase:${level}}] [${logger}] ${message} ${exception:tostring}"
            archiveFileName="${basedir:fixtempdir=true}/log_archives/${appName}_log.{#}.zip"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8"
            enableArchiveFileCompression="true"/>

    <target xsi:type="File"
            name="ModuleLogs"
            fileName="${basedir:fixtempdir=true}/log/${logger:shortName=true}/${appName}_${logger:shortName=true}_${shortdate}.log"
            layout="${longdate} [${uppercase:${level}}] [${logger}] ${message} ${exception:tostring}"
            archiveFileName="${basedir:fixtempdir=true}/log_archives/${logger:shortName=true}/${appName}_${logger:shortName=true}_log.{#}.zip"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8"
            enableArchiveFileCompression="true"/>
  </targets>

  <rules>
    <!-- add your logging rules here  level : Debug, Info, Warn, Error, Fatal, Trace  -->
    <logger name="*" minlevel="Info" writeTo="AllLogs" />
    <logger name="DoorWebApp.Controllers.DownloadController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.KaizenController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.ManufMethodController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.PeriodController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.PNController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.PreferenceController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.ProjectController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.RoleController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.SBERPController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.SiteController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.UserController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.Controllers.ValidateController" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.AuditLogWritter" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.ERPDataStore" minlevel="Info" writeTo="ModuleLogs" final="true" />
    <logger name="DoorWebApp.FormValidator" minlevel="Info" writeTo="ModuleLogs" final="true" />

  </rules>
</nlog>
