$normal-base: #526E60;
$success-base: #526E60;
$error-base: #a8abb2;

.el-button {
  --el-button-hover-text-color: #{$normal-base};
  --el-button-hover-border-color: #{$normal-base};
  --el-button-active-text-color: #{$normal-base};
  --el-button-hover-bg-color: transparent;
}

$primary-base: #0FE3C6;

.el-button--primary{
  --el-button-bg-color: #{$normal-base};
  --el-button-hover-border-color: #{$normal-base};
  --el-button-hover-link-text-color: #0FE3C6;
  --el-button-hover-bg-color: #0FE3C6;
  --el-button-disabled-text-color: #a8abb2;
  --el-button-disabled-bg-color: #e4e7ed;
  --el-button-disabled-border-color: #d3d6dc;
}

.el-button--danger{
  --el-button-bg-color: #880015;
  --el-button-border-color: #880015;
  --el-button-hover-bg-color: #F2EEE5;
}

.el-button--primary.is-plain, .el-button--primary.is-text {
  --el-button-text-color: #{$normal-base};
  --el-button-bg-color: lighten(#526E60, 50%);
  --el-button-border-color: lighten(#526E60, 70%);
  --el-button-hover-bg-color: #{$normal-base};
  --el-button-hover-border-color: #{$normal-base};
}

.el-tabs__item {
  --el-color-primary:#{$normal-base};
}

.el-checkbox{
  --el-checkbox-checked-text-color: #{$normal-base};
  --el-checkbox-checked-bg-color: #{$normal-base};
  --el-checkbox-checked-input-border-color: #{$normal-base};
  --el-checkbox-input-border-color-hover: #{$normal-base};
}

.el-input{
  --el-select-input-focus-border-color: #{$normal-base};
}

.el-range-editor.is-active:hover{
  --el-input-focus-border-color: #{$normal-base};
}

.el-switch__label.is-active{
  --el-color-primary: #{$normal-base};
}

.el-switch__label {
  --el-text-color-primary: #909399;
}

.el-tag--success {
  --el-color-success: #{$success-base};
  --el-color-success-light-8: lighten($success-base, 70%);
  --el-color-success-light-9: lighten($success-base, 80%);
}

.el-tag--error {
  --el-color-error: #{$error-base};
  --el-color-error-light-8: #e4e7ed;
  --el-color-error-light-9: #f0f2f5;
}

body {
  background-color: #f8f9fa;
}
